@font-face {
  font-family: "Gotham";
  src: url("../../dist/fonts/gotham-medium-webfont.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Gotham";
  src: url("../../dist/fonts/gothambold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Aleo";
  src: url("../../dist/fonts/Aleo-Regular.woff");
  font-weight: 400;
}