.latest-news {
  width: 100vw;
  background: url("../img/latest-news.webp") no-repeat center,
  linear-gradient(to top, #3c7fd4, #24ccfa);
  background-size: cover;
}

.title--latest-news {
  color: white;
}

.slider {
  position: relative;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  width: 1340px / 1800px * 100vw;
  margin: 0 auto;
  &__wrapper {
    margin-top: 100px / 1800px * 100vw;
    // @include flex(space-between, center, row, nowrap);
    padding-bottom: 100px / 1800px * 100vw;
  }
}

.slider-card {
  width: 380px / 1800px * 100vw;
  background-color: #ffffff;

  &__info {
  @include flex(space-between, flex-start, column, nowrap);
  margin: 2vh 1.67vw 2.7vh 1vw;
  }

  &__title {
  font-family: Gotham;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.55;
  color: #2c4058;
  text-transform: uppercase;
  margin-bottom: 2vh;
  }

  &__text {
  height: 7vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.67;
  color: #4b5562;
  overflow: hidden;
  overflow-y: scroll;
  cursor: pointer;
  &::-webkit-scrollbar {
    width: 2px;
  }
  }

  &__footer {
    @include flex(space-between, flex-start, row, nowrap);
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__avatar {
    margin-right: 20px;
  }

  &__avatar-name {
    font-family: Gotham;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.22;
    color: #2c4058;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  &__date {
    font-family: Gotham;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.57;
    color: #55b7ff;
  }
}

.slick-slide{
    margin-left: 30px;
}

.slick-arrow{
  position: absolute;
  top: 50%;  
  margin: -30px 0 0 0;
  z-index: 5;
  font-size: 0;
  width: 30px;
  height: 60px;
  cursor: pointer;
  
  }

.slick-arrow.slick-prev{
    left: 0;
    background: url('../images/svg/sl-arrow_l.svg') 0 0 / 100% no-repeat;      
}

.slick-arrow.slick-next{
    right: 0;
    background: url('../images/svg/sl-arrow_r.svg') 0 0 / 100% no-repeat;    
}

// .slick-dots{
//     margin-top: 60px;
//     display: flex;
//     align-items: center;
//     justify-content: center;     
// }

// .slick-dots li{
//   list-style: none;
//   margin: 0px 20px;      
// }

.slick-dots li.slick-active button{
  background-color: #fff;
  cursor: pointer;
    
}

.slick-dots li button{
  font-size: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

ul.slick-dots {
  // padding: 50px;
  margin-bottom: -50px;
}
