* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  width: 100vw;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@import "mixins.scss";
@import "media.scss";
@import "fonts.scss";
@import "header.scss";
@import "what-we-do.scss";
@import "latest-news.scss";
@import "gallery.scss";
@import "map.scss";
@import "footer.scss";
@import "form.scss";

